<div class="col-md-12" style="display:flex">
    <div class="col-md-11">
        <div class="container">
            Nextmart Inc.&reg; Tudo o que você precisa, simples e rápido! &copy; <a>Todos os direitos reservados</a>
        </div>
    </div>
    <div class="col-md-1 version"><a asp-action="Index" asp-controller="Admin">Open Beta 0.8.14</a></div>
</div>