@model Domain.Models.PessoaJuridica

@{
    ViewData["Title"] = "EditUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/showPasswordjs.js"></script>

<div class="content-box1 container fill-content">
    <div class="useredit-bigbox">
        <h1>Segurança</h1>
        <div class="col-md-12 useredit-box">
            <h4>Informações de Usuário</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="EditUsuario">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Nome de Usuário:</label>
                            <input asp-for="Usuario.Username" class="form-control" />
                            <span asp-validation-for="Usuario.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">E-mail:</label>
                            <input asp-for="Usuario.Email" class="form-control" />
                            <span asp-validation-for="Usuario.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nova Senha:</label>
                            <div class="showpass-box">
                                <input name="password" class="form-control" type="password" id="password" />
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link bg-light fa fa-eye" href="" id="checkem"></a>
                                    </li>
                                </ul>
                            </div>
                            <label class="control-label">Confirme a senha:</label>
                            <input name="confirmPass" class="form-control" type="password" id="confirmPass" />
                        </div>
                        @Html.HiddenFor(model => model.Usuario.TipoUsuario)
                        @Html.HiddenFor(model => model.Usuario.Id)
                        @Html.HiddenFor(model => model.Usuario.Password)
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <input type="submit" value="Salvar" id="salvar" class="btn btn-primary" />
                            <a asp-action="Index" asp-controller="VitrineLoja" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#salvar").click(function () {
        if ($("#password").val() != $("#confirmPass").val()) {
            alert("As senhas estão diferentinhas.");
            return;
        }
    })
</script>